<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/home.css" />
  <title>Redis-Node</title>
</head>

<body>

  <main role="main" class="container mt-5 pt-5">
    <h1>Redis-Node</h1>
    <h5>Total Redis Connections <%= count %></h5>
  </main>

  <main role="socket" class="container mt-5 pt-5">
    <h1>Socket.io</h1>
    <script src='/socket.io/socket.io.js'></script>
    <script>
    <!-- Whenever we get a socketping we send a socketpong back -->
      var socket = io();
      socket.emit('socketping');
      socket.on('socketpong', () => {
        console.log('Got socketpong');
        setTimeout(() => socket.emit('socketping'), 5000);
      });
    </script>
    <h1>Multiple Socket Fun</h1>
    <label for="name">Name</label>
    <input id="name" type="text" placeholder="Enter your name" />
    <button id="send" type="button" name="button">Say Hello</button>
    <ul id="names">

    </ul>
    <script>
    <!-- Whenever we get a socketping we send a socketpong back -->
      var socket = io({transports: ['websocket'], upgrade: false});
      document.getElementById('send').addEventListener('click', (e) => {
        console.log('send clicked');
        socket.emit('name', document.getElementById('name').value);
      });

      socket.on('name', (name) => {
        console.log('got a name emit');
        var li = document.createElement('li');
        li.appendChild(document.createTextNode(name + ' says hello!'));
        document.getElementById('names').appendChild(li);
      });
    </script>
  </main>

  <footer>
    <div class="container">
       <span class="text-muted">Redis-Node <%= new Date().getFullYear() %></span>
    </div>
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  </body>
</html>
